<!DOCTYPE html>

<head>
    <title>Pre-Game Scouting - 8404 PALS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
    {% include 'favicon.html' %}
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        {% include 'header.html' %}

        <!-- Menu -->
        {% include 'menu.html' %}

        <div id="main">
            <div class="inner">
                <h1>Pre-Game Scouting</h1>
                {% if form.error %}
                <p><em>Error: {{ form.error }}</em></p>
                {% endif %}
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <h2>General Info</h2>
                        </div>
                        <div class="col-4 col-12-small">
                            {{ form.team_number(placeholder=form.team_number.label.text) }}
                        </div>
                        <div class="col-8 col-12-small">
                            {{ form.contact(placeholder=form.contact.label.text) }}
                        </div>

                        <div class="col-12" style="padding-top: 3em; padding-bottom: 0">
                            <h2>Autonomous</h2>
                        </div>

                        <div class="col-4 col-6-medium">
                            <div style="display: table">
                                <div style="display: table-cell;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;cursor: default;"
                                    onclick="decrement(document.getElementById('auton_stones'))">
                                    <p style="margin-bottom: 0; padding-right: 0.5em; font-size: 1.5em">-</p>
                                </div>
                                <div style="display: table-cell; width: 100%">
                                    {{ form.auton_stones(placeholder=form.auton_stones.label.text) }}
                                </div>
                                <div style="display: table-cell;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;cursor: default;"
                                    onclick="increment(document.getElementById('auton_stones'))">
                                    <p
                                        style="margin-bottom: 0; padding-left: 0.5em; padding-right: 0.5em; font-size: 1.5em">
                                        +</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-8 col-6-medium">
                            {{ form.auton_skystone }}
                            {{ form.auton_skystone.label }}
                        </div>

                        <div class="col-4 col-6-medium">
                            {{ form.auton_foundation }}
                            {{ form.auton_foundation.label }}
                        </div>
                        <div class="col-8 col-6-medium">
                            {{ form.auton_under_skybridge }}
                            {{ form.auton_under_skybridge.label }}
                        </div>

                        <div class="col-12" style="padding-top: 3em; padding-bottom: 0">
                            <h2>Tele-Op</h2>
                        </div>
                        <div class="col-4 col-6-medium">
                            <div style="display: table">
                                <div style="display: table-cell;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;cursor: default;"
                                    onclick="decrement(document.getElementById('teleop_stones'))">
                                    <p style="margin-bottom: 0; padding-right: 0.5em; font-size: 1.5em">-</p>
                                </div>
                                <div style="display: table-cell; width: 100%">
                                    {{ form.teleop_stones(placeholder=form.teleop_stones.label.text) }}
                                </div>
                                <div style="display: table-cell;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;cursor: default;"
                                    onclick="increment(document.getElementById('teleop_stones'))">
                                    <p
                                        style="margin-bottom: 0; padding-left: 0.5em; padding-right: 0.5em; font-size: 1.5em">
                                        +</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-6-medium">
                            <div style="display: table">
                                <div style="display: table-cell;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;cursor: default;"
                                    onclick="decrement(document.getElementById('teleop_max_level'))">
                                    <p
                                        style="margin-bottom: 0; padding-right: 0.5em; padding-left: 0.5em; font-size: 1.5em">
                                        -</p>
                                </div>
                                <div style="display: table-cell; width: 100%">
                                    {{ form.teleop_max_level(placeholder=form.teleop_max_level.label.text) }}
                                </div>
                                <div style="display: table-cell;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;cursor: default;"
                                    onclick="increment(document.getElementById('teleop_max_level'))">
                                    <p style="margin-bottom: 0; padding-left: 0.5em; font-size: 1.5em">+</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="padding-top: 3em; padding-bottom: 0.7em">
                            <h2>End Game</h2>
                        </div>
                        <div class="col-4 col-6-medium">
                            {{ form.teleop_cap }}
                            {{ form.teleop_cap.label }}
                        </div>
                        <div class="col-6 col-6-medium">
                            {{ form.teleop_move_foundation }}
                            {{ form.teleop_move_foundation.label }}
                        </div>
                        <div class="col-8 col-6-small">
                            {{ form.teleop_park }}
                            {{ form.teleop_park.label }}
                        </div>

                        <div class="col-12" style="padding-top: 3em;">
                            <h2>Extra Notes</h2>
                        </div>
                        <div class="col-6 col-8-large col-12-small">
                            {{ form.notes(placeholder="message", rows="1") }}
                        </div>

                        <div class="col-12" style="padding-top: 2em;">
                            <ul class="actions">
                                <li><input type="submit" value="Submit" class="primary" style="width: 20em" /></li>
                                <li><input type="reset" value="Reset" style="width: 10em" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/browser.min.js"></script>
    <script src="/static/js/breakpoints.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        function increment(element) {
            let num = parseInt(element.value);
            if (isNaN(num)) num = 0;
            num++;
            if (num < 0) num = 0;
            element.value = num;
        }
        function decrement(element) {
            let num = parseInt(element.value);
            if (isNaN(num)) num = 0;
            num--;
            if (num < 0) num = 0;
            element.value = num;
        }
        document.getElementById('auton_stones').setAttribute("style", "text-align:center");
        document.getElementById('teleop_stones').setAttribute("style", "text-align:center");
        document.getElementById('teleop_max_level').setAttribute("style", "text-align:center");
    </script>
</body>

</html>